.container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 23%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 25vh;
    margin-bottom: -40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 150px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 205, 205);
}

.color {
    background-color: rgb(62, 62, 62);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    border-radius: 25px;
    margin-top: -7px;
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border-radius: 25px;
    height: 15px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(62, 62, 62);  
    cursor: pointer;
    border-radius: 50%;  
    margin-top: -5px;
}

.settings {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 20px;
    color: #333;
    margin-top: 30px;
}

.eraser {
    width: 100%;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 5px;
    border: 1px solid #333;
}
