.container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 150px;
}

.color {
    background-color: black;
}

.slider {
    width: 100%;
    outline: none;
    background: gray;
}

.settings {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
